<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Business Dashboard</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<center><h1>Business Dashboard</h1></center>
<center><form class="grid" action="/result" method="POST">
{% if name %}
    <div class="post_img">
        {% if name %}
        <img src="{{ type }}" height="100%" width="100%">
        {% endif %}
    </div>
{% endif %}
{% if name %}
    <div class="post_box">
              {% if name %}
                <center>
                  <h3 style="color: black;" class="let_space">"{{name}}."</h3>
                </center>

              {% endif %}
    </div>
{% endif %}

          <label for="name">Select Company:</label>
          <select name="company" id="name" name="name">
              <option value="microsoft">Microsoft</option>
              <option value="apple">Apple</option>
          </select>
          <label for="name">Select Graph:</label>
          <select name="graph" id="name" name="name">
              <option value="Balance Sheet 19-21">Balance Sheet 19-21</option>
              <option value="Retained Earnings 19-21">Retained Earnings 19-21</option>
              <option value="Income 19-21">Income 19-21</option>
              <option value="Expenses 19-21">Expenses 19-21</option>
              <option value="Stock Chart 19-21">Stock Chart 19-21</option>
              <option value="Earnings Per Share 19-21">Earnings Per Share 19-21</option>
          </select>
          <center><input class="file_submit" type="Submit"></center>

</form></center>
<!--
<div class="row">
    <div class="column">
    <img src="{{ dashboard1 }}" height="100%" width="100%">
    </div>
    <div class="column">
    <img src="{{ dashboard2 }}" height="100%" width="100%">
    </div>
    <div class="column">
    <img src="{{ dashboard3 }}" height="100%" width="100%">
    </div>
</div>
<div class="row">
    <img src="{{ dashboard4 }}"height="100%" width="100%">
</div>
<div class="row">
    <div class="column">
    <img src="{{ dashboard5 }}" height="100%" width="100%">
    </div>
    <div class="column">
    <img src="{{ dashboard6 }}" height="100%" width="100%">
    </div>
</div>
-->
</body>
</html>